<ion-header>
  <ion-toolbar>
    <ion-title>Camera</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="text-align: center">
  <div *ngIf="isWeb">
    <video #videoElement autoplay playsinline width="100%"></video>
  </div>

  <div *ngIf="!isWeb">
    <ion-button expand="block" (click)="takePhoto()">Take & Upload Photo</ion-button>
  </div>

  <ion-button expand="block" (click)="takePhoto()">Take & Upload Photo</ion-button>
</ion-content>
